
img{
    width: 40%;
}
.img{
    height: 100px;
    width: 100px;
    margin: 5px;
}
#arena{
    background-image: url(https://account.panzar.ru/_media2.axd/1107.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    margin-left: 500px;
    height: 455px;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.one{
    background-image:url();
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
}
.fight{
    margin-top: 20px;
    height: 50px;
}
/* .small{
    margin-top: 18px;
} */

#left{
    display: flex;
    flex-direction: row;

}

.kan{
    margin-top: -2px;
    width: 50%; }